body, html, *, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  padding: 3rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  overflow: scroll;
  line-height: 2.5rem;
  color:rgb(87, 77, 77);
}

input[type='range'],
input[type='range']:focus,
input[type='range']:active,
input[type='range']::-moz-focus-inner,
input[type='range']:-moz-focusring {

  outline: none;
}

.slider {
  margin-top: 2rem;
  outline: none;
  border: solid 1px rgb(157, 139, 139);
  border-radius: 5px;
  outline: none;
  height: 5px;
  -webkit-appearance: none;
  position: relative;
}

.slider::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: rgb(255, 103, 103);
  top: 50%;
  transform: translateY(-35%);
  transition: background .15s ease;
}
.slider::-webkit-slider-thumb:hover {
  background: rgb(255, 133, 133);
}

small {
  font-style: italic;
  font-weight: 400;
  font-size: 1.3rem;
}


/* .slider, .slider:hover, .slider:active, .slider:focus {
  outline: none;
  background-color: none;
  background: red;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
} */

.preface {
  align-self: flex-start;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.error {
  color: rgba(255, 103, 103, 0.799);
  font-weight: 400;
}

.preface, .error {
  margin-top: 2rem;
}

button {
  font-family: 'Poppins', sans-serif;
  padding: .5rem 1rem;
  width: 10rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: rgb(255, 103, 103);
  transition: background-color .2s ease, box-shadow .06s ease;
  border: none;
  border-radius: .3rem;
  color: white;
  font-weight: 200;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}

button:hover {
  background-color: rgb(255, 124, 124);
}

button:active, button:hover, button {
  outline: none;
}

button:active {
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19),
    0 2px 2px rgba(0, 0, 0, 0.23), inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


.loader {
  margin-top: 2rem;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: rgb(101, 88, 88);
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ff6767;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.loader.hidden {
  display: none;
}


